.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

h3.roomcode {
  margin-left: 3em;
  align-self: flex-start;
  text-align: left;
}

h3.username {
  margin-left: 3em;
  align-self: flex-start;
  text-align: left;
}

h3.userslist {
  margin-right: 3em;
  align-self: flex-end;
}

p.userslist {
  margin-right: 3em;
  align-self: flex-end;
  font-family: 'Courier New', monospace;
  text-align: right;
}

.search {
  font-size: small;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}
.search:hover {
  color:aquamarine
}

h4 {
  
  text-align: left;
}

tr td {
  white-space: nowrap;
}
.column {
  float: left;
  text-align: center;
  width: 50%;
}
table, th, td {
  border: 1px solid black;
}
table .absorbing-column {
    width: 100%;
}
table {
  table-layout: auto;
  border-collapse: collapse;
}
table.tblbtn {
  background-color: #116e51;
  width: 100%;
}

tr {
  
  width: 100%;
}
tr:hover{  
  background-color: #1f242b;
  cursor: pointer;
}

.widercolumn {
  float: left;
  width: 25vw;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
a {  
  text-decoration: none;
}
input[type=text] {
  padding: 0;
  height: 12px;
  position: relative;
  padding: 15px;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 14px;
  border-radius: 1em;
}

.textbox--label {
  
  font-size: 2vmin;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 2vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}


.btn--login {
  margin: 0 auto;
}

.btn--search   {
  margin: 0 auto;
  font-size: .5em;
}

.btn--skip   {
  margin: 0 auto;
  font-size: .75em;
  padding: 0.5em 0.75em;
  border: 0.2em solid #4070d1;
  color: #4070d1;
}

.btn--skip:hover {
  background: #1ecd967e;
  border: 0.2em solid #1ecd967e;
  color: rgb(0, 0, 0);
}

.btn--remove   {
  margin: 0 auto;
  border-radius: 2em;
  font-size: .5em;
  border: 0.2em solid red;
  color: red;
  padding: 0.5em 0.7em;
}

.btn--remove:hover {
  background: red;
  color: #333;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}