.voteup {
    display: inline-block;
    cursor: pointer;
    color: #687074
}
.votedown {
    display: inline-block;
    cursor: pointer;
    color: #687074
}


.voteup.on {
    color: #f48024
}
.votedown.on {
    color: #f48024
}